Prototype - Copy/baseClass.lua
Prototype - Copy/BR.lua
Prototype - Copy/BR.png
Prototype - Copy/build.settings
Prototype - Copy/config.lua
Prototype - Copy/dod.lua
Prototype - Copy/Enemies.lua
Prototype - Copy/Enemies.png
Prototype - Copy/Fire!!.png
Prototype - Copy/Icon.png
Prototype - Copy/main.lua
Prototype - Copy/Missile.lua
Prototype - Copy/Missile.png
Prototype - Copy/StartButton.png
Prototype - Copy/AndroidResources/res/mipmap-anydpi-v26/ic_launcher.xml
Prototype - Copy/AndroidResources/res/mipmap-hdpi/ic_launcher.png
Prototype - Copy/AndroidResources/res/mipmap-hdpi/ic_launcher_foreground.png
Prototype - Copy/AndroidResources/res/mipmap-mdpi/ic_launcher.png
Prototype - Copy/AndroidResources/res/mipmap-mdpi/ic_launcher_foreground.png
Prototype - Copy/AndroidResources/res/mipmap-xhdpi/ic_launcher.png
Prototype - Copy/AndroidResources/res/mipmap-xhdpi/ic_launcher_foreground.png
Prototype - Copy/AndroidResources/res/mipmap-xxhdpi/ic_launcher.png
Prototype - Copy/AndroidResources/res/mipmap-xxhdpi/ic_launcher_foreground.png
Prototype - Copy/AndroidResources/res/mipmap-xxxhdpi/ic_launcher.png
Prototype - Copy/AndroidResources/res/mipmap-xxxhdpi/ic_launcher_foreground.png
Prototype - Copy/AndroidResources/res/values/values.xml
Prototype - Copy/Backgrounds/Lv1.png
Prototype - Copy/Backgrounds/Lv10.png
Prototype - Copy/Backgrounds/Lv2.png
Prototype - Copy/Backgrounds/Lv3.png
Prototype - Copy/Backgrounds/Lv4.png
Prototype - Copy/Backgrounds/Lv5.png
Prototype - Copy/Backgrounds/Lv6.png
Prototype - Copy/Backgrounds/Lv7.png
Prototype - Copy/Backgrounds/Lv8.png
Prototype - Copy/Backgrounds/Lv9.png
Prototype - Copy/Backgrounds/MainMenu.png
Prototype - Copy/Images.xcassets/Contents.json
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Contents.json
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-1024.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-120.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-152.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-167.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-180.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-40.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-58.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-76.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-80.png
Prototype - Copy/Images.xcassets/AppIcon.appiconset/Icon-87.png
Prototype - Copy/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
Prototype - Copy/LaunchScreen.storyboardc/designable.storyboard
Prototype - Copy/LaunchScreen.storyboardc/Info.plist
Prototype - Copy/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
Prototype - Copy/levels/level1.lua
Prototype - Copy/levels/level10.lua
Prototype - Copy/levels/level2.lua
Prototype - Copy/levels/level3.lua
Prototype - Copy/levels/level4.lua
Prototype - Copy/levels/level5.lua
Prototype - Copy/levels/level6.lua
Prototype - Copy/levels/level7.lua
Prototype - Copy/levels/level8.lua
Prototype - Copy/levels/level9.lua
